aioboto3==11.2.0
aiobotocore==2.5.0
aiohttp==3.8.4
aioitertools==0.11.0
aiosignal==1.3.1
alembic==1.11.1
apturl==0.5.2
async-timeout==4.0.2
attrs==23.1.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
blinker==1.6.2
boto3==1.26.76
botocore==1.29.76
Brlapi==0.8.3
CacheControl==0.12.10
cachetools==5.3.1
cachy==0.3.0
certifi==2020.6.20
chardet==4.0.0
charset-normalizer==3.1.0
cleo==0.8.1
click==8.1.3
clikit==0.6.2
colorama==0.4.4
command-not-found==0.3
crashtest==0.3.1
cryptography==3.4.8
cupshelpers==1.0
dataclasses-json==0.5.8
dbus-python==1.2.18
deeplake==3.6.6
defer==1.0.6
defusedxml==0.7.1
dill==0.3.6
distlib==0.3.4
distro==1.7.0
distro-info===1.1build1
dnspython==2.3.0
duplicity==0.8.21
email-validator==2.0.0.post2
entrypoints==0.4
fasteners==0.14.1
filelock==3.6.0
flasgger==0.9.7.1
Flask==2.3.2
Flask-Bcrypt==1.0.1
Flask-Cors==3.0.10
Flask-Dance==7.0.0
Flask-Login==0.6.2
Flask-Migrate==4.0.4
Flask-Script==2.0.6
Flask-SQLAlchemy==3.0.3
flask-swagger==0.2.14
flask-swagger-ui==4.11.1
Flask-WTF==1.1.1
frozenlist==1.3.3
future==0.18.2
google-auth==2.20.0
greenlet==2.0.2
gunicorn==20.1.0
html5lib==1.1
httpie==2.6.0
httplib2==0.20.2
humbug==0.3.1
idna==3.3
importlib-metadata==4.6.4
itsdangerous==2.1.2
jeepney==0.7.1
Jinja2==3.1.2
jmespath==1.0.1
jsonschema==3.0.1
keyring==23.5.0
langchain==0.0.208
langchainplus-sdk==0.0.17
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lockfile==0.12.2
louis==3.20.0
lxml==4.8.0
macaroonbakery==1.3.1
Mako==1.1.3
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
mistune==2.0.5
monotonic==1.6
more-itertools==8.10.0
msgpack==1.0.3
multidict==6.0.4
multiprocess==0.70.14
mypy-extensions==1.0.0
mysqlclient==2.1.1
nest-asyncio==1.5.6
netifaces==0.11.0
numcodecs==0.11.0
numexpr==2.8.4
numpy==1.25.0
oauthlib==3.2.0
olefile==0.46
openai==0.27.8
openapi-schema-pydantic==1.2.4
packaging==23.1
paramiko==2.9.3
pastel==0.2.1
pathlib2==2.3.7.post1
pathos==0.3.0
pexpect==4.8.0
Pillow==9.0.1
pkginfo==1.8.2
platformdirs==2.5.1
poetry==1.1.12
poetry-core==1.0.7
pox==0.3.2
ppft==1.7.6.6
protobuf==3.12.4
ptyprocess==0.7.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycairo==1.20.1
pycodestyle==2.10.0
pycups==2.0.1
pydantic==1.10.9
Pygments==2.11.2
PyGObject==3.42.1
PyJWT==2.3.0
pylev==1.2.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyparsing==2.4.7
pyRFC3339==1.1
pyrsistent==0.19.3
PySocks==1.7.1
python-apt==2.4.0+ubuntu1
python-dateutil==2.8.1
python-debian===0.1.43ubuntu1
python-dotenv==1.0.0
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
regex==2023.6.3
reportlab==3.6.8
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rsa==4.9
s3transfer==0.6.1
SecretStorage==3.3.1
shellingham==1.4.0
six==1.16.0
soupsieve==2.3.1
SQLAlchemy==2.0.15
systemd-python==234
tenacity==8.2.2
tiktoken==0.4.0
tomlkit==0.9.2
tqdm==4.65.0
typing-inspect==0.9.0
typing_extensions==4.6.2
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.5
URLObject==2.4.3
usb-creator==0.3.7
virtualenv==20.13.0+ds
wadllib==1.3.6
webencodings==0.5.1
Werkzeug==2.3.4
wrapt==1.15.0
WTForms==3.0.1
xdg==5
xkit==0.0.0
yarl==1.9.2
zipp==1.0.0
